USE [WellDriller]
GO
/****** Object:  View [dbo].[CertificateComments]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[CertificateComments] 

(certificationNumber,activityTypeName,drillerActorId,drillerName,companyActorId,companyName,activityId,activityTypeId,
activityDueDate,activityStartDate,activityCompletedDate,statuSId,groupLocationId,lastModifiedDate,systemStartDate,comments)

WITH SCHEMABINDING as 

select distinct wd.registration_number as certificationNumber,   act_type.activity_type_name as activityTypeName, 
  wd.driller_actor_id as drillerActorId, actor_driller.actor_name as drillerName,
  actor_company.actor_id as companyActorId, actor_company.actor_name as companyName,  
  activity.activity_id as activityId,activity.activity_type_id as activityTypeId, activity.activity_due_date as activityDueDate,
  activity.activity_start_date as activityStartDate,activity.activity_completed_date as activityCompletedDate,
  activity.status_id as statusId,activity.group_location_id as groupLocationId,activity.last_modified_date as lastModifiedDate,
  activity.system_start_date as systemStartDate,
     (SELECT comments.comments
      FROM dbo.ara_comments comments JOIN dbo.ara_combo combo
       ON comments.combo_id = combo.combo_id
     WHERE combo.activity_id = activity.activity_id) as comments 
	  --into CertComments
from dbo.V_ARA_COMBO combo
  left join dbo.v_ara_activity activity
    on combo.activity_id = activity.activity_id
  left join dbo.V_ARA_ACTIVITY_TYPE act_type
    on act_type.activity_type_id = activity.activity_type_id
  left join dbo.v_well_driller wd 
    on wd.driller_actor_id = combo.actor_id
  left join dbo.v_ara_actor actor_driller 
    on actor_driller.actor_id = wd.driller_actor_id
  left join dbo.v_ara_actor actor_company 
    on actor_company.actor_id = wd.company_actor_id    
where combo.actor_id is not null and activity.activity_id is not null
  and wd.WELL_DRILLER_ID is not null

GO
/****** Object:  View [dbo].[V_ActivityComments]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[V_ActivityComments] 

(activityId,comments)

with schemabinding as

SELECT combo.activity_id,comment.comments
                    FROM [dbo].[ara_comments] comment 
					Left JOIN [dbo].[ara_combo] combo
                    ON comment.combo_id = combo.combo_id
					JOIN dbo.CertificateActivityList_Materialized ca ON ca.activityId=combo.activity_id

 
GO
/****** Object:  View [dbo].[V_CertificateActivity]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[V_CertificateActivity] 

(certificationNumber,activityTypeName,drillerId,drillerName,companyId,companyName,activityId,activityTypeId,
activityDueDate,activityStartDate,activityCompletedDate,statuSId,groupLocationId,lastModifiedDate,systemStartDate,Comments)

with schemabinding as

select distinct wd.registration_number as certification_number,   act_type.activity_type_name, 
  wd.driller_actor_id, actor_driller.actor_name as driller_name,
  actor_company.actor_id, actor_company.actor_name as company_name,  
  activity.ACTIVITY_ID,activity.ACTIVITY_TYPE_ID
      ,activity.ACTIVITY_DUE_DATE,activity.ACTIVITY_START_DATE,activity.ACTIVITY_COMPLETED_DATE,activity.STATUS_ID
      ,activity.GROUP_LOCATION_ID,activity.LAST_MODIFIED_DATE,activity.SYSTEM_START_DATE,
       (SELECT comment.comments
                    FROM [dbo].[ara_comments] comment Left JOIN [dbo].[ara_combo] combo
                    ON comment.combo_id = combo.combo_id
                    WHERE combo.activity_id = activity.activity_id) Comments 
from [dbo].[V_ARA_COMBO] combo
  left join [dbo].[V_ARA_ACTIVITY] activity
    on combo.activity_id = activity.activity_id
  left join [dbo].[V_ARA_ACTIVITY_TYPE] act_type
    on act_type.activity_type_id = activity.activity_type_id
  left join [dbo].[v_well_driller] wd 
    on wd.driller_actor_id = combo.actor_id
  left join [dbo].[v_ara_actor] actor_driller 
    on actor_driller.actor_id = wd.driller_actor_id
  left join [dbo].[v_ara_actor] actor_company 
    on actor_company.actor_id = wd.company_actor_id    
Left JOIN [src].[ara_group_location] gl
                  ON activity.group_location_id = gl.group_location_id
where combo.actor_id is not null and activity.activity_id is not null
  and wd.WELL_DRILLER_ID is not null
  AND gl.group_location_code = 'WD'
  and act_type.activity_type_name in ('ENFORCEMENT TAKEN','PAYMENT RECEIVED','REG COMPLETED','REG PAK MAILED','RENEWAL PAK MAILED','REVOCATION','SUSPENSION')


 
GO
/****** Object:  View [dbo].[V_CertificateActivityList]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[V_CertificateActivityList] 

(certificationNumber,activityTypeName,drillerId,drillerName,companyId,companyName,activityId,activityTypeId,
activityDueDate,activityStartDate,activityCompletedDate,statuSId,groupLocationId,lastModifiedDate,systemStartDate)

with schemabinding as

select distinct wd.registration_number as certification_number,   act_type.activity_type_name, 
  wd.driller_actor_id, actor_driller.actor_name as driller_name,
  actor_company.actor_id, actor_company.actor_name as company_name,  
  activity.ACTIVITY_ID,activity.ACTIVITY_TYPE_ID
      ,activity.ACTIVITY_DUE_DATE,activity.ACTIVITY_START_DATE,activity.ACTIVITY_COMPLETED_DATE,activity.STATUS_ID
      ,activity.GROUP_LOCATION_ID,activity.LAST_MODIFIED_DATE,activity.SYSTEM_START_DATE 
from [dbo].[V_ARA_COMBO] combo
  left join [dbo].[V_ARA_ACTIVITY] activity
    on combo.activity_id = activity.activity_id
  left join [dbo].[V_ARA_ACTIVITY_TYPE] act_type
    on act_type.activity_type_id = activity.activity_type_id
  left join [dbo].[v_well_driller] wd 
    on wd.driller_actor_id = combo.actor_id
  left join [dbo].[v_ara_actor] actor_driller 
    on actor_driller.actor_id = wd.driller_actor_id
  left join [dbo].[v_ara_actor] actor_company 
    on actor_company.actor_id = wd.company_actor_id    
Left JOIN [src].[ara_group_location] gl
                  ON activity.group_location_id = gl.group_location_id
where combo.actor_id is not null and activity.activity_id is not null
  and wd.WELL_DRILLER_ID is not null
  AND gl.group_location_code = 'WD'
  and act_type.activity_type_name in ('ENFORCEMENT TAKEN','PAYMENT RECEIVED','REG COMPLETED','REG PAK MAILED','RENEWAL PAK MAILED','REVOCATION','SUSPENSION')


 
GO
/****** Object:  View [dbo].[V_paymentInfo]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[V_paymentInfo] 

(activityId,paymentInfo)

with schemabinding as

SELECT combo.activity_id,STRING_AGG(CAST(info_type.type_code +' : '+ info.VALUE AS VARCHAR(MAX)), ';') as PaymentInfo
					FROM [src].[ara_info] info JOIN [dbo].[ara_l_type] info_type
					ON info.info_type_id =info_type.type_id
					JOIN [dbo].[V_ARA_COMBO] combo ON info.combo_id = combo.combo_id
					JOIN dbo.CertificateActivityList_Materialized ca ON ca.activityId=combo.activity_id
					GROUP BY combo.activity_id


 
GO
/****** Object:  View [dbo].[vw_Driller_Demographics]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vw_Driller_Demographics]
AS
SELECT 
	[REGISTRATION_NUMBER],
	[MONITOR],
	[CERTIFIED_SINCE],
	[DRILLER_NAME],
	[DRILLER_FIRST_NAME],
	[DRILLER_MIDDLE_NAME],
	[DRILLER_LAST_NAME],
	[REGISTRATION_END_DATE],
	[DRILLER_STATUS] = CASE WHEN DRILLER_STATUS = 'NON RENEWAL' THEN 'EXPIRED' ELSE DRILLER_STATUS END,
	[COMPANY_NAME],
	[COMPANY_STATE],
	[PUBLISHED_NAME],
	[PUBLISHED_STREET_1],
	[PUBLISHED_STREET_2],
	[PUBLISHED_TOWN],
	[PUBLISHED_STATE],
	[PUBLISHED_ZIP],
	[PUBLISHED_PHONE],
	Driller_Cert_Type = CASE WHEN MONITOR = 'M' THEN 'Monitoring Certification' ELSE 'General Certification' END
FROM [src].[view_well_driller]
WHERE [REGISTRATION_NUMBER] NOT IN (SELECT [WELL_DRILLER_ID] FROM [WellDriller].[dbo].[PAYMENT_ACTIVITIES])
--UNION ALL

GO
/****** Object:  View [dbo].[vw_Driller_Status]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vw_Driller_Status]
as
WITH MainTable AS (
	SELECT 
		pa.WELL_DRILLER_ID as WellDrillerId,
		pa.DEP_TRACKING_ID as DEPTrackingId,
		pa.SUBMIT_DATE as SubmittedDate,
		CASE 
			WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) > 2 THEN 3
			WHEN ((YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 1 OR (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 2)  THEN 2
			WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 0 THEN 1
		END as StatusId,
		CASE 
			WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) > 2 THEN 'EXPIRED' 
			WHEN ((YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 1 OR (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 2)  THEN 'NON RENEWAL' 
			WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 0 THEN 'REGISTERED'
		END as Status,
		CONCAT_WS(', ', wda.driller_last_name, CONCAT_WS(' ', wda.driller_first_name, wda.driller_middle_name)) as DrillerName,
		--(Convert(Varchar,ISNULL(wda.driller_first_name,'')) +' '+ Convert(Varchar,ISNULL(wda.driller_middle_name,''))  +' '+ Convert(Varchar,ISNULL(wda.driller_last_name,''))) as DrillerName,
		wda.company_name as FirmName
	FROM 
		[dbo].[PAYMENT_ACTIVITIES] pa
		INNER JOIN [dbo].[well_driller_actor] wda ON wda.DEP_TRACKING_ID=pa.DEP_TRACKING_ID
	UNION
	SELECT 
		wds.WELL_DRILLER_ID as WellDrillerId,
		wds.DEP_TRACKING_ID as DEPTrackingId,
		wds.CREATED_ON as SubmittedDate,
		cs.STATUS_ID as StatusId,
		cs.STATUS_DESCRIPTION as Status,
		CASE 
			WHEN wda.driller_last_name IS NULL THEN CONCAT_WS(', ', vwd.driller_last_name, CONCAT_WS(' ', vwd.driller_first_name, vwd.driller_middle_name))
			ELSE CONCAT_WS(', ', wda.driller_last_name, CONCAT_WS(' ', wda.driller_first_name, wda.driller_middle_name))
		END AS DrillerName,
		ISNULL(wda.company_name, vwd.COMPANY_NAME) as FirmName
	FROM 
		[dbo].[WellDrillerCertificateStatus] wds
		INNER JOIN [dbo].[CertificateStatus] cs ON cs.STATUS_ID=wds.STATUS_ID 
		LEFT JOIN [dbo].[well_driller_actor] wda ON wda.DEP_TRACKING_ID=wds.DEP_TRACKING_ID
		LEFT JOIN [src].[view_well_driller] vwd ON vwd.WELL_DRILLER_ID=wds.WELL_DRILLER_ID
	UNION
	SELECT 
		vwd.REGISTRATION_NUMBER as WellDrillerId,
		wda.dep_tracking_id as DEPTrackingId,
		vwd.REGISTRATION_START_DATE as SubmittedDate,
		0 as StatusId,
		vwd.DRILLER_STATUS as Status,
		CONCAT_WS(', ', vwd.driller_last_name, CONCAT_WS(' ', vwd.driller_first_name, vwd.driller_middle_name)) as DrillerName,
		vwd.COMPANY_NAME as FirmName
	FROM 
		[src].[view_well_driller] vwd 
		LEFT JOIN [dbo].[PAYMENT_ACTIVITIES] pa ON pa.WELL_DRILLER_ID=vwd.WELL_DRILLER_ID 
		LEFT JOIN [dbo].[well_driller_actor] wda ON wda.dep_tracking_id=pa.DEP_TRACKING_ID
)
SELECT mt.* 
FROM 
	MainTable mt 
	INNER JOIN (
		SELECT WellDrillerId, max(SubmittedDate) as MaxDate
		FROM MainTable
		GROUP BY WellDrillerId
	) tm ON mt.WellDrillerId = tm.WellDrillerId AND mt.SubmittedDate = tm.MaxDate 

GO
/****** Object:  View [dbo].[vw_New_Driller_Demographics]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_New_Driller_Demographics]
AS
WITH MainTable AS (
	SELECT 
		pa.WELL_DRILLER_ID as WellDrillerId,
		pa.DEP_TRACKING_ID as DEPTrackingId,
		pa.SUBMIT_DATE as SubmittedDate,
		CASE 
			WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) > 2 THEN 3
			WHEN ((YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 1 OR (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 2)  THEN 2
			WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 0 THEN 1
		END as StatusId,
		CASE 
			WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) > 2 THEN 'EXPIRED' 
			WHEN ((YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 1 OR (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 2)  THEN 'NON RENEWAL' 
			WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 0 THEN 'REGISTERED'
		END as Status,
		CONCAT_WS(', ', wda.driller_last_name, CONCAT_WS(' ', wda.driller_first_name, wda.driller_middle_name)) as DrillerName,
		--(Convert(Varchar,ISNULL(wda.driller_first_name,'')) +' '+ Convert(Varchar,ISNULL(wda.driller_middle_name,''))  +' '+ Convert(Varchar,ISNULL(wda.driller_last_name,''))) as DrillerName,
		wda.company_name as FirmName
	FROM 
		[dbo].[PAYMENT_ACTIVITIES] pa
		INNER JOIN [dbo].[well_driller_actor] wda ON wda.DEP_TRACKING_ID=pa.DEP_TRACKING_ID
	UNION
	SELECT 
		wds.WELL_DRILLER_ID as WellDrillerId,
		wds.DEP_TRACKING_ID as DEPTrackingId,
		wds.CREATED_ON as SubmittedDate,
		cs.STATUS_ID as StatusId,
		cs.STATUS_DESCRIPTION as Status,
		CASE 
			WHEN wda.driller_last_name IS NULL THEN CONCAT_WS(', ', vwd.driller_last_name, CONCAT_WS(' ', vwd.driller_first_name, vwd.driller_middle_name))
			ELSE CONCAT_WS(', ', wda.driller_last_name, CONCAT_WS(' ', wda.driller_first_name, wda.driller_middle_name))
		END AS DrillerName,
		ISNULL(wda.company_name, vwd.COMPANY_NAME) as FirmName
	FROM 
		[dbo].[WellDrillerCertificateStatus] wds
		INNER JOIN [dbo].[CertificateStatus] cs ON cs.STATUS_ID=wds.STATUS_ID 
		LEFT JOIN [dbo].[well_driller_actor] wda ON wda.DEP_TRACKING_ID=wds.DEP_TRACKING_ID
		LEFT JOIN [src].[view_well_driller] vwd ON vwd.WELL_DRILLER_ID=wds.WELL_DRILLER_ID
)
SELECT mt.* 
FROM 
	MainTable mt 
	INNER JOIN (
			SELECT WellDrillerId, max(SubmittedDate) as MaxDate
			FROM MainTable
			GROUP BY WellDrillerId
		) tm ON mt.WellDrillerId = tm.WellDrillerId AND mt.SubmittedDate = tm.MaxDate 
WHERE mt.DEPTrackingId > 0
GO
/****** Object:  StoredProcedure [dbo].[GetDEPTrackingId]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sundar Ravi
-- Create date: 05/01/2025
-- Description:	Get DEP Tracking ID List
-- =============================================
CREATE PROCEDURE [dbo].[GetDEPTrackingId]
	-- Add the parameters for the stored procedure here

	@wellDrillerId int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	SELECT DEP_TRACKING_ID as DEPTrackingId FROM [dbo].[PAYMENT_ACTIVITIES] WHERE WELL_DRILLER_ID=@wellDrillerId
	UNION
	SELECT DEP_TRACKING_ID as DEPTrackingId FROM [dbo].[WellDrillerCertificateStatus] WHERE WELL_DRILLER_ID=@wellDrillerId
END

GO
/****** Object:  StoredProcedure [dbo].[GetListofCertificateActivityDetails]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sundar Ravi
-- Create date: 05/01/2025
-- Description:	To get the list of Certificate Activity for Specific Certificate 
-- =============================================
CREATE PROCEDURE [dbo].[GetListofCertificateActivityDetails]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


    -- Insert statements for procedure here
	
WITH MainTable AS (
  
  SELECT pa.WELL_DRILLER_ID  as WellDrillerId,
		pa.DEP_TRACKING_ID  as DEPTrackingId,
		pa.SUBMIT_DATE as SubmittedDate,
		CASE 
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) > 2 THEN 'Expired' 
		WHEN ((YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 1 OR (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 2)  THEN 'Non-Renew' 
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 0 THEN 'Registered'
		END as Status ,
		pa.FORM_NAME as FormName,
		'Payment Type : '+ISNULL(NULLIF(pa.PAYMENT_TYPE, ''), 'No')  +';Amount : ' +Convert(Varchar,ISNULL(pa.AMOUNT,0)) as PaymentInfo,
		'' as Comments,
		'' as ActivityStartDate,
        '' as ActivityEndDate
     FROM [dbo].[PAYMENT_ACTIVITIES] pa
	  UNION
  SELECT wds.WELL_DRILLER_ID  as WellDrillerId,
  wds.DEP_TRACKING_ID  as DEPTrackingId,
  wds.CREATED_ON as SubmittedDate,
  cs.STATUS_DESCRIPTION as Status,
  '' as FormName,
  '' as PaymentInfo,
  wds.NOTE as Comments ,
  '' as ActivityStartDate,
  '' as ActivityEndDate
  FROM [dbo].[WellDrillerCertificateStatus] wds
  INNER JOIN [dbo].[CertificateStatus] cs 
  ON cs.STATUS_ID=wds.STATUS_ID 
  UNION
    Select cal.certificationNumber as WellDrillerId,
  '' as DEPTrackingId,
  cal.activityStartDate  as SubmittedDate,
  cal.activityTypeName as Status,
  '' as FormName,
  cpi.paymentInfo as PaymentInfo,
  cac.comments  as Comments ,
  cal.activityStartDate as ActivityStartDate,
  cal.activityCompletedDate as ActivityEndDate
  from [dbo].[CertComm] cal
Left JOIN dbo.CertificatePaymentInfo_Materialized cpi on cpi.activityId=cal.activityId
Left JOIN dbo.CertificateActivityComments_Materialized cac on cac.activityId=cal.activityId
)
SELECT * FROM MainTable mt 

END
GO
/****** Object:  StoredProcedure [dbo].[GetListofCertificateActivityDetailsByCertificateId]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sundar Ravi
-- Create date: 05/01/2025
-- Description:	To get the list of Certificate Activity for Specific Certificate 
-- =============================================
CREATE PROCEDURE [dbo].[GetListofCertificateActivityDetailsByCertificateId]
	-- Add the parameters for the stored procedure here
	@wellDrillerId int ,
	@pageNumber int ,
	@pageSize int ,
	@orderBy varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @query NVARCHAR(max);

    -- Insert statements for procedure here
	
WITH MainTable AS (
  
  SELECT pa.WELL_DRILLER_ID  as WellDrillerId,
		pa.DEP_TRACKING_ID  as DEPTrackingId,
		pa.SUBMIT_DATE as SubmittedDate,
		CASE 
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) > 2 THEN 'Expired' 
		WHEN ((YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 1 OR (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 2)  THEN 'Non-Renew' 
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 0 THEN 'Registered'
		END as Status ,
		('<b>DEP Tracking ID - </b>'+Convert(Varchar,pa.DEP_TRACKING_ID) +'<br><b>Submitted Date - </b>'+ Convert(Varchar,pa.SUBMIT_DATE)+ '<br><b>Form Name - </b>' + pa.FORM_NAME +'<br><b>Payment Type - </b>'+ISNULL(NULLIF(pa.PAYMENT_TYPE, ''), 'No')  +'<br><b>Amount - </b>' + Convert(Varchar,ISNULL(pa.AMOUNT,0)) ) as Note,
		'eDEP System' as UserName
  FROM [dbo].[PAYMENT_ACTIVITIES] pa
  WHERE pa.WELL_DRILLER_ID=@wellDrillerId
  UNION
  SELECT wds.WELL_DRILLER_ID  as WellDrillerId,
  wds.DEP_TRACKING_ID  as DEPTrackingId,
  wds.CREATED_ON as SubmittedDate,
  cs.STATUS_DESCRIPTION as Status,
  wds.NOTE as Note,
  wds.CREATED_BY as UserName
  FROM [dbo].[WellDrillerCertificateStatus] wds
  INNER JOIN [dbo].[CertificateStatus] cs 
  ON cs.STATUS_ID=wds.STATUS_ID 
  WHERE wds.WELL_DRILLER_ID=@wellDrillerId
  UNION
  Select cal.certificationNumber as WellDrillerId,
  '' as DEPTrackingId,
  cal.activityStartDate  as SubmittedDate,
  cal.activityTypeName as Status,
Replace('<b>' + Replace(Replace(Convert(Varchar(MAX),ISNULL(cpi.paymentInfo,'')) ,';','<br><b>'),':','</b>:') +'</b><br><b>Activity Start Date </b>: '+ Convert(Varchar(10),ISNULL(cal.activityStartDate,''),101)  +' <br><b>Activity End Date </b>: '+ Replace(Convert(Varchar(10),ISNULL(cal.activityCompletedDate,''),101),'01/01/1900','') +' <br><b>Comments </b>: '+ Convert(Varchar,ISNULL(cac.comments,'')),'<b></b><br>','') as Note, 
'Legacy System' as UserName
 from [dbo].[CertComm] cal
Left JOIN dbo.CertificatePaymentInfo_Materialized cpi on cpi.activityId=cal.activityId
Left JOIN dbo.CertificateActivityComments_Materialized cac on cac.activityId=cal.activityId
where cal.certificationNumber=@wellDrillerId 
)
SELECT mt.* , (SELECT COUNT(*) FROM MainTable) as TotalCount INTO #MaintableWithCondition 
FROM MainTable mt 
WHERE mt.WellDrillerId=@wellDrillerId

SET @query = 'SELECT * FROM #MaintableWithCondition ORDER BY ' + @orderby +' OFFSET ' + CONVERT(varchar, (@pageNumber-1)*@pageSize)  + ' ROWS FETCH NEXT ' +  CONVERT(varchar, @pageSize)  + ' ROWS ONLY'
EXECUTE sp_executesql @query
END
GO
/****** Object:  StoredProcedure [dbo].[GetListofCertificateDetails]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sundar Ravi
-- Create date: 05/01/2025
-- Description:	To get the list of Certificate Info with Current Status
-- =============================================
CREATE PROCEDURE [dbo].[GetListofCertificateDetails]
	-- Add the parameters for the stored procedure here
	@WellDrillerId int NULL,
	@drillerName varchar(100) NULL,
	@firmName varchar(100) NULL,
	@status varchar(100) NULL,
	@pageNumber int ,
	@pageSize int ,
	@orderBy varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @query NVARCHAR(max);


    -- Insert statements for procedure here
	
WITH MainTable AS (
  SELECT pa.WELL_DRILLER_ID as WellDrillerId,
		pa.DEP_TRACKING_ID as DEPTrackingId,
		pa.SUBMIT_DATE as SubmittedDate,
		CASE 
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) > 2 THEN 3
		WHEN ((YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 1 OR (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 2)  THEN 2
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 0 THEN 1
		END as StatusId ,
		CASE 
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) > 2 THEN 'EXPIRED' 
		WHEN ((YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 1 OR (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 2)  THEN 'NON RENEWAL' 
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 0 THEN 'REGISTERED'
		END as Status ,
		(Convert(Varchar,ISNULL(wda.driller_first_name,'')) +' '+ Convert(Varchar,ISNULL(wda.driller_middle_name,''))  +' '+ Convert(Varchar,ISNULL(wda.driller_last_name,''))) as DrillerName,
        wda.company_name as FirmName
		  FROM [dbo].[PAYMENT_ACTIVITIES] pa
		  INNER JOIN [dbo].[well_driller_actor] wda
		  ON wda.DEP_TRACKING_ID=pa.DEP_TRACKING_ID
		  UNION
		  SELECT wds.WELL_DRILLER_ID as WellDrillerId,
		  wds.DEP_TRACKING_ID as DEPTrackingId,
		  wds.CREATED_ON as SubmittedDate,
		  cs.STATUS_ID as StatusId,
		  cs.STATUS_DESCRIPTION as Status,
		  CASE WHEN LEN(Convert(Varchar,ISNULL(wda.driller_first_name,'')) +' '+ Convert(Varchar,ISNULL(wda.driller_middle_name,''))  +' '+ Convert(Varchar,ISNULL(wda.driller_last_name,''))) = 0 THEN 
		  vwd.DRILLER_NAME 
		  ELSE
		  (Convert(Varchar,ISNULL(wda.driller_first_name,'')) +' '+ Convert(Varchar,ISNULL(wda.driller_middle_name,''))  +' '+ Convert(Varchar,ISNULL(wda.driller_last_name,'')))
		  END as DrillerName,
		  ISNULL(wda.company_name,vwd.COMPANY_NAME) as FirmName
		  FROM [dbo].[WellDrillerCertificateStatus] wds
		  INNER JOIN [dbo].[CertificateStatus] cs 
		  ON cs.STATUS_ID=wds.STATUS_ID 
		  LEFT JOIN [dbo].[well_driller_actor] wda
		  ON wda.DEP_TRACKING_ID=wds.DEP_TRACKING_ID
		  LEFT JOIN [src].[view_well_driller] vwd on vwd.WELL_DRILLER_ID=wds.WELL_DRILLER_ID
		  UNION
		  SELECT vwd.REGISTRATION_NUMBER as WellDrillerId,
		  wda.dep_tracking_id as DEPTrackingId,
		  vwd.REGISTRATION_START_DATE as SubmittedDate,
		  0 as StatusId,
		  vwd.DRILLER_STATUS as Status,
		  vwd.DRILLER_NAME as DrillerName,
		  vwd.COMPANY_NAME as FirmName
		  FROM [src].[view_well_driller] vwd 
		  LEFT JOIN [dbo].[PAYMENT_ACTIVITIES] pa ON pa.WELL_DRILLER_ID=vwd.WELL_DRILLER_ID 
		  LEFT JOIN [dbo].[well_driller_actor] wda ON wda.dep_tracking_id=pa.DEP_TRACKING_ID
		  ),
		  AfterFilterMainTable As 
		  (
		  SELECT mt.* FROM  MainTable mt 
		  INNER JOIN (
			select WellDrillerId, max(SubmittedDate) as MaxDate
			from MainTable
			group by WellDrillerId
		) tm on mt.WellDrillerId = tm.WellDrillerId and mt.SubmittedDate = tm.MaxDate 
		  )

		 SELECT Amt.* ,CASE WHEN AD.WellDrillerID IS NOT NULL THEN 'true' ELSE 'false' END AS DownloadedFlag,
		 (SELECT COUNT(*) FROM AfterFilterMainTable) as TotalCount INTO #MaintableWithCondition FROM  AfterFilterMainTable Amt 
		 LEFT JOIN 
		 (SELECT Audit.* FROM [dbo].[CertificateDownloadAudit] AS Audit
           INNER JOIN
         (SELECT WellDrillerID,CertificateYear, MAX(DownloadTimestamp) as DownloadedDate
         FROM [dbo].[CertificateDownloadAudit] GROUP BY WellDrillerID,CertificateYear) AS latest_dates
          ON Audit.WellDrillerID = latest_dates.WellDrillerID AND Audit.CertificateYear = latest_dates.CertificateYear AND Audit.DownloadTimestamp = latest_dates.DownloadedDate) as AD
		  ON AD.WellDrillerID=amt.WellDrillerId and AD.CertificateYear=YEAR(amt.SubmittedDate) and amt.SubmittedDate < AD.DownloadTimestamp
		WHERE (@WellDrillerId IS NULL OR Amt.WellDrillerId = @WellDrillerId) 
		and (@drillerName IS NULL OR Amt.DrillerName LIKE '%' + @drillerName + '%') 
		and (@firmName IS NULL OR Amt.FirmName  LIKE '%' +  @firmName + '%') 
		and (@status IS NULL OR Amt.Status = @status) 

		SET @query = 'SELECT Distinct * FROM #MaintableWithCondition ORDER BY ' + @orderby +' OFFSET ' + CONVERT(varchar, (@pageNumber-1)*@pageSize)  + ' ROWS FETCH NEXT ' +  CONVERT(varchar, @pageSize)  + ' ROWS ONLY'

		EXECUTE sp_executesql @query
END

 
select * from #MaintableWithCondition
GO
/****** Object:  StoredProcedure [dbo].[GetListofCertificateStatus]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sundar Ravi
-- Create date: 05/01/2025
-- Description:	To get the list of Certificate Info with Current Status
-- =============================================
CREATE PROCEDURE [dbo].[GetListofCertificateStatus]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
WITH MainTable AS (
  SELECT pa.WELL_DRILLER_ID as WellDrillerId,
		pa.SUBMIT_DATE as SubmittedDate,
		CASE 
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) > 2 THEN 'EXPIRED' 
		WHEN ((YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 1 OR (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 2)  THEN 'NON RENEWAL' 
		WHEN (YEAR(getdate())-YEAR(pa.SUBMIT_DATE)) = 0 THEN 'REGISTERED'
		END as Status 
		  FROM [dbo].[PAYMENT_ACTIVITIES] pa
		  UNION
		  SELECT wds.WELL_DRILLER_ID as WellDrillerId,
		  wds.CREATED_ON as SubmittedDate,
		  cs.STATUS_DESCRIPTION as Status 
		  FROM [dbo].[WellDrillerCertificateStatus] wds
		  INNER JOIN [dbo].[CertificateStatus] cs 
		  ON cs.STATUS_ID=wds.STATUS_ID 
		  UNION
		  SELECT vwd.REGISTRATION_NUMBER as WellDrillerId,
		  vwd.REGISTRATION_START_DATE as SubmittedDate,
		  vwd.DRILLER_STATUS as Status 
		  FROM [src].[view_well_driller] vwd
		  ),
		  AfterFilterMainTable As 
		  (
		  SELECT *,ROW_NUMBER() OVER (PARTITION BY WellDrillerId ORDER BY SubmittedDate DESC) AS rn
           FROM MainTable
		  )
		 SELECT WellDrillerId,Status,SubmittedDate FROM AfterFilterMainTable WHERE rn = 1
END


GO
/****** Object:  StoredProcedure [dbo].[GetStatusDetails]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sundar Ravi
-- Create date: 05/01/2025
-- Description:	Get Certificate Status Details
-- =============================================
CREATE PROCEDURE [dbo].[GetStatusDetails]
	-- Add the parameters for the stored procedure here

	@operation char(1) 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [STATUS_ID] as statusId,[STATUS_DESCRIPTION] as statusDescription FROM [dbo].[CertificateStatus]
	WHERE [IS_ACTIVE]=1 AND (@operation='A' OR [OPERATION]= @operation) 
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCertificateStatus]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sundar Ravi
-- Create date: 05/01/2025
-- Description:	Insert Certificate Status 
-- =============================================
CREATE PROCEDURE [dbo].[InsertCertificateStatus]
	-- Add the parameters for the stored procedure here
	@wellDrillerId int,
	@depTrackingId int,
	@note varchar(500),
	@status int,
	@userName varchar(100),
	@result int output

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[WellDrillerCertificateStatus] 
	([WELL_DRILLER_ID],[DEP_TRACKING_ID],[STATUS_ID],[NOTE],[CREATED_BY],[CREATED_ON]) VALUES
	(@WellDrillerId,@depTrackingId,@status,@note,@userName,getdate())

	IF @@ERROR = 0 
     SET @result  = 1
  ELSE 
     SET @result = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_data_cleanse_pa]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_data_cleanse_pa]
AS
BEGIN
    SET NOCOUNT ON;

    -- Update numeric fields: replace 0 with NULL
    UPDATE payment_activities
    SET 
        PAYMENT_ID = NULLIF(PAYMENT_ID, 0),
        WELL_DRILLER_ID = NULLIF(WELL_DRILLER_ID, 0),
        --DRILLER_ACTOR_ID = NULLIF(DRILLER_ACTOR_ID, 0),
        --COMPANY_ACTOR_ID = NULLIF(COMPANY_ACTOR_ID, 0),
        PAYMENT_DOCUMENT_ID = NULLIF(PAYMENT_DOCUMENT_ID, 0),
        AMOUNT = NULLIF(AMOUNT, 0.00)
    WHERE 
        PAYMENT_ID = 0 OR
        WELL_DRILLER_ID = 0 OR
        --DRILLER_ACTOR_ID = 0 OR
        --COMPANY_ACTOR_ID = 0 OR
        PAYMENT_DOCUMENT_ID = 0 OR
        AMOUNT = 0.00;

    PRINT 'Data cleansing completed: 0s updated to NULLs.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCertificateReportData]    Script Date: 10/23/2025 12:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Anthony Moore
-- Create date: 1 AUG 2025
-- Description:	Takes Well Driller ID, Certification Year, and accessing User ID as parameters, inserts a record into the 
-- Audit table, and returns the dataset for the Well Drillers Certificate Report.
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetCertificateReportData]
	-- Add the parameters for the stored procedure here
	@WellDrillerId int,
	@CertificateYear int,
	@DownloadUserId varchar(255)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO [dbo].[CertificateDownloadAudit](WellDrillerID, CertificateYear, DownloadTimestamp, DownloadUserID)
	VALUES
	(@WellDrillerId, @CertificateYear, GETDATE(), @DownloadUserId)

	SELECT MAX([DEP_TRACKING_ID]) as DEP_TRACKING_ID, WELL_DRILLER_ID, company_name, driller_first_name, driller_last_name, MAX(cert_year) as cert_year, MAX(DrillerCertType) as DrillerCertType
	FROM
	(
		SELECT DISTINCT pa.[DEP_TRACKING_ID], pa.WELL_DRILLER_ID, wda.company_name, wda.driller_first_name, wda.driller_last_name, 
			YEAR(pa.PAYMENT_DATE) AS cert_year, null as DrillerCertType
		FROM [dbo].[well_driller_actor] wda
			INNER JOIN [dbo].[PAYMENT_ACTIVITIES] pa on wda.dep_tracking_id = pa.DEP_TRACKING_ID
		WHERE pa.WELL_DRILLER_ID = @WellDrillerId
			AND YEAR(pa.SUBMIT_DATE) = @CertificateYear
			AND pa.WELL_DRILLER_ID NOT IN 
			(
				SELECT [WELL_DRILLER_ID]
				FROM (
					SELECT [WELL_DRILLER_ID], [STATUS_ID], [CREATED_ON],
						   ROW_NUMBER() OVER (PARTITION BY [WELL_DRILLER_ID] ORDER BY [CREATED_ON] DESC) AS rn
					FROM [dbo].[WellDrillerCertificateStatus]
				) AS CertOverrideTbl
				WHERE rn = 1 AND STATUS_ID <> 1
			)
		UNION
		SELECT DISTINCT 0 as [DEP_TRACKING_ID], [REGISTRATION_NUMBER] as WELL_DRILLER_ID, [COMPANY_NAME], [DRILLER_FIRST_NAME], [DRILLER_LAST_NAME], 
			YEAR(GETDATE()) AS cert_year, CASE WHEN [MONITOR] = 'M' THEN 'monitoring' else 'all types of' end as DrillerCertType
		FROM [src].[view_well_driller]
		WHERE [REGISTRATION_NUMBER] = @WellDrillerId AND
			[REGISTRATION_NUMBER] IN (
				SELECT [WELL_DRILLER_ID]
				FROM (
					SELECT [WELL_DRILLER_ID], [STATUS_ID], [CREATED_ON],
							ROW_NUMBER() OVER (PARTITION BY [WELL_DRILLER_ID] ORDER BY [CREATED_ON] DESC) AS rn
					FROM [dbo].[WellDrillerCertificateStatus]
					WHERE YEAR([CREATED_ON]) = @CertificateYear
				) AS CertOverrideTbl
				WHERE rn = 1 AND STATUS_ID = 1
			)
	) tmp
	GROUP BY WELL_DRILLER_ID, company_name, driller_first_name, driller_last_name
END
GO
